<!DOCTYPE html>
<html>

<head>
    <title>Admin - SLUH Trivia</title>
    <%- include('./partials/head.ejs') %>
        <!-- <link href="/fontawesome/css/all.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <!-- Bulma Version 0.9.1-->
        <!-- <link rel="stylesheet" href="/bulma/css/bulma.min.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="admin.css" media="screen">


        <!-- <link rel="stylesheet" href="debug.css"> -->
</head>

<body>
    <div class="modal" id="err-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Error</p>
                <button class="delete" aria-label="close" id="x-btn"></button>
            </header>
            <section class="modal-card-body">
                <div style=" margin-top: -10px; margin-bottom: 8px; font-size: 1.5rem; "><span
                        style="color: red; text-align: center; font-weight: 400; " id="err-msg"></span></div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger" id="close-btn">Close</button>
            </footer>
        </div>
    </div>

    <div class="modal" id="confirm-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Confirmation</p>
                <button class="delete" aria-label="close" id="x-btn"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <h1 class="title">Are you sure?</h1>
                    <h3 class="is-3" style="color: red;">You're about to <span id="confirm-action-msg"></span>.
                    </h3>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger" id="confirm-btn">Confirm</button>
                <button class="button" id="cancel-btn">Cancel</button>
            </footer>
        </div>
    </div>

    <section class="hero is-success is-fullheight">
        <div class="hero-head">
            <div class="columns is-mobile is-marginless" id='navbar-columns'>
                <div class="column left desktop">
                    <a href="/admin/present"><span class="icon is-large">
                            <i class="fas fa-eye" title="Presentation View"></i>
                        </span></a>
                </div>
                <div class="column center">
                    <h1 class="navbar-item title has-text-white" id='main-title'>SLUH Heads or Tails Admin</h1>
                </div>
                <div class="column right">
                    <button class="button is-danger is-large" id="logout-button">Logout</button>
                </div>
            </div>

        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns" id="side-columns">

                    <!-- Left Side -->
                    <div class="column">
                        <div class="columns left-column">

                            <div class="column">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title has-text-centered">
                                            Control Game
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        <div class="columns">
                                            <div class="column">
                                                <button id="revive-button" class="button is-danger is-large">Revive
                                                    Eliminated</button>
                                            </div>
                                            <div class="column">
                                                <button id="reveal-button" class="button is-primary is-large">Reveal
                                                    Results</button>
                                            </div>
                                            <div class="column">
                                                <button id="new-round-button" class="button is-primary is-large">Start
                                                    Next Round</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column" id="presentation-controls">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title has-text-centered">
                                            Presentation View
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        <div class="columns">
                                            <div class="column">
                                                <button id="pre-game"
                                                    class="button is-primary is-large">Pre-Game</button>
                                            </div>
                                            <div class="column">
                                                <button class="button is-primary is-large" id="playing">Playing</button>
                                            </div>
                                            <div class="column">
                                                <button id="game-over" class="button is-danger is-large">Game
                                                    Over</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title has-text-centered">
                                            Control Login
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        <div class="columns is-vcentered">
                                            <div class="column">
                                                <label class="checkbox">
                                                    <input type="checkbox" id="allow-players-check" checked>
                                                    Allow Players to Join.
                                                </label>
                                            </div>
                                            <div class="column">
                                                <div class="control">
                                                    <div class="title is-4 blue">Check Email</div>
                                                    <label class="radio">
                                                        <input type="radio" name="need-email" id="yes" checked>
                                                        Yes
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" name="need-email">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <button id="update-login-btn" class="button is-primary is-large">Update
                                                    Login Control</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title has-text-centered">
                                            Round Duration
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        <div class="columns">
                                            <div class="column">
                                                <div class="field">
                                                    <div class="control has-icons-left">
                                                        <input id="round-time-input" class="input is-medium"
                                                            type="number" value="10">
                                                        <span class="icon is-small is-left"><i
                                                                class="fas fa-clock"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="columns">
                                                    <div class="column">
                                                        <button id="5-btn" class="button is-info is-medium">5</button>
                                                    </div>
                                                    <div class="column">
                                                        <button id="10-btn" class="button is-info is-medium">10</button>
                                                    </div>
                                                    <div class="column">
                                                        <button id="15-btn" class="button is-info is-medium">15</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <button id="set-duration-btn" class="button is-primary is-large">Set
                                                    Duration</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title has-text-centered">
                                            Email Upload (columns of email,uses)
                                        </p>
                                    </header>
                                    <div class="card-content has-text-centered">
                                        <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                                        <form id="csv-file-form" action="/api/admin/csvupload" method="post"
                                            enctype="multipart/form-data" target="dummyframe">
                                            <div class="file has-name is-info is-medium">
                                                <label class="file-label">
                                                    <input id="csv-file-input" class="file-input" type="file"
                                                        name="csv">
                                                    <span class="file-cta">
                                                        <span class="file-icon">
                                                            <i class="fas fa-upload"></i>
                                                        </span>
                                                        <span class="file-label">
                                                            Select Emails CSV...
                                                        </span>
                                                    </span>
                                                    <span id="csv-file-name" class="file-name">
                                                        <!-- AllowedEmails.csv -->
                                                    </span>
                                                    <div id="csv-file-submit" class="control"
                                                        style="padding-left: 10px;">
                                                        <button class="button is-medium is-info">Submit</button>
                                                    </div>
                                                </label>
                                                <span style="padding-left: 10px;" id="csv-file-info"></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class="card">
                                    <header class="card-header">
                                        <p class="card-header-title has-text-centered">
                                            Account Lookup
                                        </p>
                                    </header>
                                    <div class="card-content has-text-centered">
                                        <div class="control has-icons-left has-icons-right">
                                            <input class="input is-large" type="text" placeholder="Email"
                                                id='email-search-input'>
                                            <span class="icon is-medium is-left">
                                                <i class="fa fa-search"></i>
                                            </span>
                                            <span class="icon is-medium is-right">
                                                <i class="fa fa-check"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Left Side -->

                    <!-- Right Side -->
                    <div class="column" id="current-game">
                        <div class="section">
                            <div class="container">
                                <div class="columns" id="game-info-title">
                                    <div class="column is-5">
                                        <h1 class="title blue" id="round-num">Round 0</h1>
                                    </div>
                                    <div class="column is-2">
                                        <h1 class="title blue" id="time-left">0s</h1>
                                    </div>
                                    <div class="column is-5">
                                        <h1 class="title blue" id="players-left">0 Players Left</h1>
                                    </div>
                                </div>

                                <!-- All the current players listed here: -->
                                <div class="table-container">
                                    <table class="table is-bordered is-striped is-fullwidth" id="users-table">
                                        <thead>
                                            <tr>
                                                <th><abbr title="Socket ID">ID</abbr></th>
                                                <th>Email</th>
                                                <th>Display Name</th>
                                                <th><abbr title="Remove">Rm</abbr></th>
                                            </tr>
                                        </thead>
                                        <!-- Stuff is added with js function -->
                                        <tbody id="users-table-body"></tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Right Side -->

                </div>
            </div>
        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="moment-with-locales.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        const socket = io();

        let inRound = false;
        let roundNum = 0;
        let roundEnd = 0;
        let playersLeft = 0;

        socket.on('newPlayer', (sessionId, email, name) => {
            addToUsersTable(sessionId, email, name);
        });

        socket.on('removePlayer', (sessionId) => {
            deleteByID(sessionId);
        });

        socket.on('allPlayers', (players) => {
            $('#users-table-body').children().remove();
            players.forEach(player => {
                if (!tableHas(player.sessionId)) addToUsersTable(player.sessionId, player.email, player.name);
            });
        });

        // socket.on('startRound', (num, end) => {

        // });

        socket.on('playersLeft', tot => {
            document.getElementById('players-left').innerText = `${tot} Players Left`;
        });

        socket.on('error', message => {
            document.getElementById('err-msg').innerText = message;
            document.getElementById('err-modal').classList.add('is-active');
        });

        //request list of all players for table.
        socket.emit('sendPlayers');

        function addToUsersTable(sessionId, email, name) {
            let cell1 = document.createElement('td');
            let cell2 = document.createElement('td');
            let cell3 = document.createElement('td')
            cell1.innerText = email;
            cell2.innerText = name;
            cell3.innerHTML = '<button class="button is-danger" onclick="deleteUser(this);"><span class="icon is-small"><i class="fas fa-ban"></i></span></button>';
            let id = document.createElement('td');
            id.innerHTML = '<span class="icon is-small" title="' + sessionId + '"><i class="fas fa-user"></i></span>';

            var tr = document.createElement('tr');
            tr.append(id);
            tr.append(cell1);
            tr.append(cell2);
            tr.append(cell3);


            var tableBody = document.getElementById('users-table-body');
            tableBody.append(tr);
        }

        function playerCount(tot) {
            document.getElementById('players-left').innerText = `${tot} Players Left`;
        }

        function deleteUser(button) {
            deleteByID(button.parentElement.parentElement.firstChild.firstChild.title);
        }

        function deleteByID(sessionId) {
            socket.emit('banPlayer', sessionId);
            $("span[title='" + sessionId + "']").parents('td').parents('tr').remove();
        }

        function tableHas(email) {
            return $('#users-table td:contains(' + email + ')').length > 0;
        }

        $('#revive-button').on('click', () => {
            socket.emit('reviveEliminated');
        });

        $('#reveal-button').on('click', () => {
            socket.emit('sendResults');
        });

        const newRndBtn = $('#new-round-button');
        newRndBtn.on('click', () => {
            socket.emit('startRound');
        })

        $('#5-btn').on('click', () => { $('#round-time-input').val(5); });
        $('#10-btn').on('click', () => { $('#round-time-input').val(10); });
        $('#15-btn').on('click', () => { $('#round-time-input').val(15); });
        $('#set-duration-btn').on('click', () => { socket.emit('setDefaultRoundDuration', $('#round-time-input').val()); });
        $('#round-time-input').on('keydown', 'input', e => {
            if (e.keyCode === 13 && e.repeat === false) {
                socket.emit('setDefaultRoundDuration', $('#round-time-input').val());
            }
        });

        $('#update-login-btn').on('click', () => {
            socket.emit('updateLoginSettings', $('#allow-players-check').prop('checked'), $('#yes').prop('checked'));
        });

        $('#error-modal #close-btn').on('click', () => {
            $('#err-modal').removeClass('is-active');
        });
        $('#error-modal #x-btn').on('click', () => {
            $('#err-modal').removeClass('is-active');
        });

        $('#presentation-controls #pre-game').on('click', () => {
            $('#confirm-modal #confirm-action-msg').text('go to pre-game view');
            $('#confirm-modal').addClass('is-active');
        });

        $('#presentation-controls #playing').on('click', () => {
            socket.emit('setPresentationView', 'playing');
        });

        $('#presentation-controls #game-over').on('click', () => {
            if (inRound) {
                document.getElementById('err-msg').innerText = 'Still in a round!';
                document.getElementById('err-modal').classList.add('is-active');
                return;
            }
            $('#confirm-modal #confirm-action-msg').text('end the game');
            $('#confirm-modal').addClass('is-active');
        });

        $('#confirm-modal #confirm-btn').on('click', () => {
            $('#confirm-modal').removeClass('is-active');
            if ($('#confirm-modal #confirm-action-msg').text() === 'end the game') socket.emit('setPresentationView', 'game-over');
            else if ($('#confirm-modal #confirm-action-msg').text() === 'go to pre-game view') socket.emit('setPresentationView', 'pre-game');
        });
        $('#confirm-modal #cancel-btn').on('click', () => {
            $('#confirm-modal').removeClass('is-active');
        });
        $('#confirm-modal #x-btn').on('click', () => {
            $('#confirm-modal').removeClass('is-active');
        });

        document.getElementById('logout-button').onclick = () => {
            axios.post('/api/admin/logout').then(res => {
                if (res.data.success) window.location = res.data.redirectTo;
                else alert('Server Error');
            });
        };

        $('#csv-file-name').hide();
        $('#csv-file-submit').hide();
        $('#csv-file-input').on('change', function () {
            const name = $('#csv-file-input')[0].files[0].name;
            document.getElementById('csv-file-name').innerHTML = name;
            if (name.length !== 0) {
                $('#csv-file-name').show();
                $('#csv-file-submit').show();
            } else {
                $('#csv-file-name').hide();
                $('#csv-file-submit').hide();
            }
        });
        $('#csv-file-form').on('submit', function () {
            document.getElementById('csv-file-info').innerHTML = 'Submitted CSV.';
        });
    </script>
</body>

</html>