<!DOCTYPE html>
<html>

<head>
    <title>Admin - SLUH Trivia</title>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <!-- Bulma Version 0.7.1-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <style media="screen">
            html,
            body {
                font-family: 'Open Sans', serif;
                font-size: 14px;
                font-weight: 300;
            }

            .hero.is-success {
                background-image: linear-gradient(141deg, #04a6d7 0, #209cee 71%, #3287f5 100%);
            }

            .hero .nav,
            .hero.is-success .nav {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            .avatar {
                margin-top: -70px;
                padding-bottom: 20px;
            }

            .avatar img {
                padding: 5px;
                background: #fff;
                border-radius: 50%;
                -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
                box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
            }

            input {
                font-weight: 300;
            }

            p {
                font-weight: 700;
            }

            p.subtitle {
                padding-top: 1rem;
            }

            input.login-error,
            input.login-error:hover,
            input.login-error:focus,
            input.login-error:active {
                border-color: red;
            }
        </style>
</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h1 class="title has-text-white" style="font-size: 3rem;">Admin Dashboard</h1>
                    <!-- <h3 class="title has-text-white">Login</h3> -->
                    <div class="box">
                        <section id="login-error-message"></section>
                        <div class="field">
                            <div class="control has-icons-left">
                                <input id="name-input" class="input is-large" type="name" placeholder="Display Name">
                                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control has-icons-left">
                                <input id="email-input" class="input is-large" type="email" placeholder="Email"
                                    autofocus="">
                                <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                            </div>
                        </div>
                        <!-- <div class="field">
                                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
                            </div> -->
                        <button id="login-button" class="button is-block is-info is-large is-fullwidth">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        document.getElementById('submit-button').onclick = submitAction;
        document.body.addEventListener('keydown', function (event) {
            if (event.keyCode === 13 && event.repeat === false) {
                loginAction();
            }
        });
    </script>
</body>

</html>