<!DOCTYPE html>
<html>

<head>
    <title>SLUH Trivia</title>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <!-- Bulma Version 0.7.1-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <style media="screen">
            html,
            body {
                font-family: 'Open Sans', serif;
                font-size: 14px;
                font-weight: 300;
            }

            .hero.is-success {
                background-image: linear-gradient(141deg, #04a6d7 0, #209cee 71%, #3287f5 100%);
            }

            .hero .nav,
            .hero.is-success .nav {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            p {
                font-weight: 700;
            }

            p.subtitle {
                padding-top: 1rem;
            }

            p.blue {
                color: #209cee;
                vertical-align: middle;
                font-size: 2rem;
            }

            h3.green {
                color: #0acc34;
                font-size: 3rem;
            }

            h3.red {
                color: #e6380d;
                font-size: 3rem;
            }

            button#heads-button,
            button#tails-button {
                color: gold;
            }

            button#heads-button.is-active,
            button#tails-button.is-active {
                border-color: gray;
                background-color: #066baf;
            }
        </style>
        <link rel='stylesheet' href='spinner.css' />
</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h1 class="title has-text-white" style="font-size: 3rem;">SLUH Trivia</h1>
                    <h2 class="title has-text-white" id="round-identifier"></h2>
                    <h3 class="title has-text-white" id="time-identifier"></h3>
                    <!-- <div class="box" id='voting'>
                        <section id="error-message"></section>
                        <div class="columns">
                            <div class="column">
                                <button id="heads-button"
                                    class="button is-block is-info is-large is-fullwidth">Heads</button>
                            </div>
                            <div class="column">
                                <p class="has-text-centered blue">or</p>
                            </div>
                            <div class="column">
                                <button id="tails-button"
                                    class="button is-block is-info is-large is-fullwidth">Tails</button>
                            </div>
                        </div>
                        <button id="submit-button" class="button is-block is-info is-large is-fullwidth">Submit</button>
                    </div> -->
                    <div class="box">
                        <section id="error-message"></section>
                        <section id="waiting">
                            <!-- Waiting spinner, feel free to replace with something better -->
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </section>
                        <section id="voting">
                            <div class="columns">
                                <div class="column">
                                    <button id="heads-button"
                                        class="button is-block is-info is-large is-fullwidth">Heads</button>
                                </div>
                                <div class="column">
                                    <p class="has-text-centered blue">or</p>
                                </div>
                                <div class="column">
                                    <button id="tails-button"
                                        class="button is-block is-info is-large is-fullwidth">Tails</button>
                                </div>
                            </div>
                            <button id="submit-button"
                                class="button is-block is-info is-large is-fullwidth">Submit</button>
                        </section>
                        <section id='results'>
                            <h3 class="has-text-centered green">Correct!</h3>
                        </section>
                        <section id='eliminated'>
                            <h3 class="has-text-centered red">Eliminated!</h3>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="moment-with-locales.js"></script>
    <script type="text/javascript">
        setView('waiting');
        let submittedThisRound = false;

        //check for persistent errors after reload
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('error_msg') || urlParams.get('error_msg') == '') errorMessage(urlParams.get('error_msg'));

        const socket = io();

        let roundNumber = 0;
        let roundEndTime = 0;
        let inRound = false;
        let lastAnswer = '';

        socket.on('eliminate', () => {
            console.log('I have been eliminated.');
            socket.close();
            setView('eliminated');
        });

        socket.on('startRound', (num, endTime) => {
            submittedThisRound = false;
            roundNumber = num;
            roundEndTime = new Date(endTime);
            inRound = true;
            document.getElementById('round-identifier').innerText = `Round ${num}`;
            setView('voting');
        });

        socket.on('error', (message, reload) => {
            if (reload) {
                this.window.location = this.window.location + '?error_msg=' + message;
            } else errorMessage(message);
        });

        // socket.on('correct', () => {
        //     setView('results');
        // });

        function timesUp() {
            if (!submittedThisRound) {
                //Randomly chooses h/t when times runs out and sends it in.
                let randomChoice = '';
                if (Math.floor(Math.random() * 2) === 1) headsAction();
                else tailsAction();
                inRound = false;
            }
        }

        var updateCountdown = setInterval(() => {
            if (inRound) {
                // let difference = roundEndTime.getSeconds() - new Date().getSeconds();
                let difference = moment(roundEndTime).diff(new Date(), 'seconds');
                if (difference <= 0) {
                    document.getElementById('time-identifier').innerText = `Time left: 0`;
                    timesUp();
                    //clearInterval(updateCountdown);
                } else document.getElementById('time-identifier').innerText = `Time left: ${difference}`;
            }
        }, 250);

        function errorMessage(err) {
            document.getElementById('error-message').innerHTML = "<div style=\" margin-top: -10px; margin-bottom: 8px; font-size: 1.5rem; \"><span style=\"color: red; text-align: center; font-weight: 400; \">" + err + "</span></div>";
        }

        function headsAction() {
            document.getElementById('heads-button').classList.add('is-active');
            document.getElementById('tails-button').classList.remove('is-active');
            if (document.getElementById('error-message').innerHTML !== '') {
                errorMessage('');
            }
        }
        function tailsAction() {
            document.getElementById('tails-button').classList.add('is-active');
            document.getElementById('heads-button').classList.remove('is-active');
            if (document.getElementById('error-message').innerHTML !== '') {
                errorMessage('');
            }
        }

        function submitAction() {
            //Check for tails or heads
            if (document.getElementById('heads-button').classList.contains('is-active') || document.getElementById('tails-button').classList.contains('is-active')) {
                if (!inRound) {
                    errorMessage('Not in a round!');
                    return;
                }
                let choice = '';
                let time = new Date();
                if (document.getElementById('heads-button').classList.contains('is-active')) choice = 'heads';
                else choice = 'tails'; //Figure out if it's heads or tails
                const data = { choice, time }; //The constructed data we're sending to the backend
                lastAnswer = choice;
                socket.emit('data', data);
                submittedThisRound = true;
                errorMessage('You selected ' + choice + '.');
                document.getElementById('heads-button').classList.remove('is-active');
                document.getElementById('tails-button').classList.remove('is-active');
                setView('waiting');
            } else {
                errorMessage("Choose heads or tails.");
            }
        };

        function setView(view) {
            const votingBox = document.getElementById('voting');
            const waitingBox = document.getElementById('waiting');
            const resultsBox = document.getElementById('results');
            const eliminatedBox = document.getElementById('eliminated');
            let views = ['waiting', 'voting', 'results', 'eliminated'];
            if (!(views.includes(view))) {
                console.log(`invalid view, tried to set view to: '${view}'?`);
                return;
            }
            switch (view) {
                case 'waiting':
                    votingBox.style.display = 'none';
                    waitingBox.style.display = '';
                    resultsBox.style.display = 'none';
                    eliminatedBox.style.display = 'none';
                    break;
                case 'voting':
                    votingBox.style.display = '';
                    waitingBox.style.display = 'none';
                    resultsBox.style.display = 'none';
                    eliminatedBox.style.display = 'none';
                    break;
                case 'results':
                    votingBox.style.display = 'none';
                    waitingBox.style.display = 'none';
                    resultsBox.style.display = '';
                    eliminatedBox.style.display = 'none';
                    break;
                case 'eliminated':
                    votingBox.style.display = 'none';
                    waitingBox.style.display = 'none';
                    resultsBox.style.display = 'none';
                    eliminatedBox.style.display = '';
                    break;
            }
        }

        document.getElementById('heads-button').onclick = headsAction;
        document.getElementById('tails-button').onclick = tailsAction;
        document.getElementById('submit-button').onclick = submitAction;
        document.body.addEventListener('keydown', function (event) {
            if (event.keyCode === 13 && event.repeat === false) {
                submitAction();
            }
        });
    </script>
</body>

</html>